<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Folder Data</title>
</head>
<body>
<h2>Edit Folder Data</h2>

<form th:action="@{/folders/edit}" th:method="put">
  <label for="foldername">Foldername:</label>
  <input type="text" id="foldername" name="foldername" required>


  <label for="childfolders">Folders:</label>
  <input type="text" id="childfolders" name="childfolders">

  <button type="submit">Create</button>
</form>

<a th:href="@{/folders}">Back to Folder Menu</a>
</body>
</html>
